<!--
 * Title: Assignment 4.4 - Async Pipe;
 * Author: Professor Krasso
 * Date: 1/24/2021
 * Modified By: Jonathan Roland
 * Description: This program demonstrates an understanding of Asynchronous Pipes and Observable Arrays;
-->

 <!-- Claude Debussy's contact information is listed here, such as it is. -->
 <div class="row">
   <div class="col-sm-12">
    <h4>Contact Info</h4>
   </div>
 </div>
 <div class="row">
  <div class="col-sm-4">
    <h5><i class="bi bi-geo-alt"></i> Grave of Claude Debussy</h5>
    <p>Passy Cemetery, Paris, France</p>
  </div>
  <div class="col-sm-8">
    <h5><i class="bi bi-telephone"></i> Phone Number</h5>
    <p>N/A</p>
  </div>
</div>
