<!--
 * Title: Assignment 4.4 - Async Pipe;
 * Author: Professor Krasso
 * Date: 1/24/2021
 * Modified By: Jonathan Roland
 * Description: This program demonstrates an understanding of Asynchronous Pipes and Observable Arrays;
-->


<!-- This div is used to display details about Claude Debussy -->

 <div class="row">
   <div class="col-sm-4">
    <!-- Here we provide an image of Claude Debussy -->
    <img src=".\assets\debussy.jpg" alt="Claude Debussy" width = 50%>
    <figcaption><a href="https://www.stockmusicsite.com/stockmusic/composer/Claude_Debussy/sounds.cfm/12">Claude Debussy</a></figcaption>
   </div>
   <div class="col-sm-8">
     <!-- Here we provide a write-up on Claude Debussy -->
    <p>
      Claude Debussy was born on  born on 22 August 1862 Northwest of Paris, France. At age 10 he was admitted to the Conservatoire de Paris where he excelled, though garnering mixed impression from his instructors. He eventually began to develop an unorthodox style and clashed with the currents of music in his time. He would go on to write many works that stood out as high water marks of the Impressionist period such as Claire de Lune, Suite Bergamasque, and Prélude à l'après-midi d'un faune, though he would never earn true acclaim in his lifetime.
    </p>
    <a href="https://www.newyorker.com/magazine/2018/10/29/the-velvet-revolution-of-claude-debussy">source</a>
   </div>
 </div>


