/*
 * Title: Exercise 3.3 - Passing Data to Routes, Part 2
 * Author: Professor Krasso
 * Date: 1/18/2021
 * Modified By: Jonathan Roland
 * Description: This program further demonstrates an understanding of passing data to routes
*/

/* This file acts the style sheet for the sing-in component */

/* Below are additional styles for the sign-in container */
.signin-container {
  width: 35%;
  margin: 0 auto;
  margin-top: 10%;
}
