/*
 * Title: Exercise 7.3 - Form Validation;
 * Author: Professor Krasso
 * Date: 2/14/2021
 * Modified By: Jonathan Roland
 * Description: This program demonstrates an understanding of validation with reactive forms;
*/

/* This file acts as the style sheet for the base-layout component */

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
