@import './theme';

html, body {
  height: 100%;
  color: rgba(255,255,0.7) !important;
}
/*
 * Title: Exercise 5.2 - Navigation and Layout;
 * Author: Professor Krasso
 * Date: 1/24/2021
 * Modified By: Jonathan Roland
 * Description: This program demonstrates an understanding of navigation and layout with Angular Material;
*/

/* This file acts the style sheet for the application */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue{
  color: #2196F3
}

.green{
  color: #66BB6A;
}

.attribution-link{
  text-decoration: none;
  color: white;
}

.attribution-link:hover{
  text-decoration: underline;
}

.card-title-icon{
  text-align: center;
}

.card-title-icon, .mat-icon {
  font-size: 72px;
}

.align-center{
  text-align: center;
}
